
.input-date-component-container {
  display: inline-block;
  width: 200px;
  background-color: white;
  border-radius: 5px;
  min-width: 271px;

  input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    width: 20px;
    height: 20px;
  }

  input {
    border: none;

    &:hover {
      border: none;
    }
  }

  label {
    pointer-events: none;
    position: absolute;
    //right: 0;
    //top: 0;
    transition: 0.2s;
    transform: scale(0.75) translateY(-85%) translateX(15px);
    opacity: 1;
    font-size: 1rem;
    font-style: italic;
    border-radius: 5px;
    background-color: #0243a6;
    color: white;
    padding: 2px 8px;
  }
}

.input-date-element {
  outline: none !important;
  box-shadow: none !important;
  font-size: 14px !important;
  height: 36px;
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  border: 1px solid #dee2e6;
  border-radius: 5px;

  &:focus-within {
    color: #212529;
    background-color: #ffffff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
  }

  input[typeof="input-text-date"] {

    width: 150px;
    border: 1px solid #dee2e6;

    &:hover {
      border: 1px solid #dee2e6;
    }
    &:focus,&:active {
      outline: none;
      border: none;
    }
    &::placeholder {
      font-style: italic;
    }
  }

  input[typeof ="input-date-picker"] {
    margin-right: 2px;
    margin-left: auto;

    color: black;
  }

  [typeof = "close-img"] {
    margin-right: 2px;
    margin-left: auto;
    color: black;
    align-self: center;
    font-size: 18px;
  }

}
