.bus-ticket {
  background: #ffffff;
  margin-top: 24px;
  padding: 32px 24px;
  border-radius: 12px;
  &__wrapper {
    margin-top: 16px;
    display: flex;
  }
  &__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
}
.bus-places {
  display: flex;
  flex-direction: column;
  margin-left: 48px;

  &__wrapper {
    margin-top: 16px;
    border: 1px solid #d5dde7;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: end;
    gap: 0 8px;
    &:nth-child(3) {
      margin-top: 16px;

    }

  }
  &__title {
    &:nth-child(3) {
      margin-top: 16px;
    }
  }
}
.bus-component {
}
.row {
  margin-top: 2px;
  display: flex;
  gap: 0 2px;
}

.seat {
  border-radius: 6px;
  padding-top: 2px;
  width: 32px;
  height: 32px;
  display: flex;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.choose {
  background: #005ee4 !important;
  color: #ffffff !important;
}

.free {
  background: #ffffff;
  border: 1px solid #06cc85;
  color: #9fb1c9;
}

.occupied {
  background: #d5dde7;
  color: #ffffff;
  cursor: default;
}
.invisible {
  display: block;
  background: none;
}
.bus-ticket-info {
  max-width: 110px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
  align-items: flex-start;
  &__item {
    font-size: 14px;
    line-height: 18px;
    color: #445978;
    position: relative;
    padding-left: 24px;
    display: flex;
    align-items: center;

    &:nth-child(1)::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: 1px;
      border: 1px solid #06cc85;
    }
    &:nth-child(2)::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: 1px;
      background: #005ee4;
    }
    &:nth-child(3)::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 4px;
      position: absolute;
      left: 0;
      top: 1px;
      background: #d5dde7;
    }
  }
}
.bus-ticket-baggage {
  margin-top: 24px;
  &__title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
  &__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 16px;
  }
}
@media (max-width: 900px) {
  .bus-places {
    margin-left: 0;
    width: 100%;
    max-width: 380px;
    flex-direction: row;
    gap: 0 10px;
    &__wrapper {
      flex-direction: column;
      margin-top: 0;
      align-items: flex-start;
      max-width: 190px;
      padding: 5px;
      width: 100%;
      & > img {
        transform: rotate(90deg);
        max-width: 60px;
        height: 60px;
      }
    }
  }
  .bus-component {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 2px
  }
  .bus-ticket {
    &__wrapper {
      flex-direction: row-reverse;
      justify-content: flex-end;
      gap: 0 20px;
    }
  }
  .row {
    flex-direction: column;
    row-gap: 2px;
  }
}
@media (max-width: 860px) {
}
@media (max-width: 768px) {
}
@media (max-width: 650px) {
  .bus-places {
    overflow-x: auto;
    max-width: 180px;
    &__wrapper {
      flex: 0 0 auto;
    }
  }
}
@media (max-width: 576px) {
  .bus-ticket-baggage{
    &__text{
      font-size: 14px;
      line-height: 20px;
    }
  }
}
@media (max-width: 430px) {
  .bus-ticket {
    &__wrapper {
      flex-direction: column;
      gap: 15px 0;
    }
  }
}
